<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jetsnack">

    <!--Load images from Unsplash-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/img"
        android:label="@string/app_name"

        android:usesCleartextTraffic="true"
        android:allowClearUserData="true"
        android:largeHeap="true"

        android:supportsRtl="true"
        android:theme="@style/Theme.Jetsnack">

        <profileable android:shell="true" tools:targetApi="q" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Jetsnack"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
